<div class="relative">
    <div class="rounded-full border-2 flex justify-between w-80 md:w-full bg-white">
        <label class="w-80">
            <input type="text" name="searcher" class="w-full h-12 rounded-full border-0 focus:outline-none px-4"
                   placeholder="Search for a city" autocomplete="off"/>
        </label>
    </div>

    <div id="list-timezone" class="absolute w-full bg-white rounded-lg shadow-md hidden max-h-64 overflow-auto">
        <div class="flex flex-col gap-y-3">

        </div>
    </div>
</div>

<script>
    const listTimezone: HTMLElement = document.getElementById('list-timezone');
    const searcher: Element = document.querySelector('input[name="searcher"]');

    searcher.addEventListener('focus', () => {
        listTimezone.classList.remove('hidden');
    });

    searcher.addEventListener('blur', () => {
        listTimezone.classList.add('hidden');
    });

    // fetch data from API
    const data = await fetch('http://localhost:3000/localities', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            'x_api_key': '1234'
        },

    })
        .then(response => response.json()).then(data => data.data);

    // mostrar los primeros 3
    const list: HTMLElement = document.getElementById('list-timezone');
    console.log(data);

    data.forEach((item: { country: string, city: string, timezone: string, hour: string }, i) => {
        if (i > 2) return;

        const div = document.createElement('div');
        div.classList.add('flex-row', 'flex', 'justify-between', 'items-center', 'hover:bg-gray-100', 'hover:cursor-pointer', 'px-6', 'py-4', 'rounded-lg');
        div.id = `item-${i}`;
        div.innerHTML = `
            <div>
                <h3 class="font-bold text-md">${item.country}</h3>
                <p class="text-gray-400 text-sm">${item.city}</p>
            </div>
            <div>
                <h3 class="text-gray-400 text-sm text-end">${item.timezone}</h3>
                <p class="text-gray-400 text-sm text-end">${item.hour}</p>
            </div>
        `;
        list.appendChild(div);
    });

    // search in data
    searcher.addEventListener('input', (e) => {
        const value = (e.target as HTMLInputElement).value;
        const filtered = data.filter((item: { country: string, city: string, timezone: string, hour: string }) => {
            return item.city.toLowerCase().includes(value.toLowerCase()) || item.country.toLowerCase().includes(value.toLowerCase()) || item.timezone.toLowerCase().includes(value.toLowerCase());
        });

        list.innerHTML = '';
        filtered.forEach((item: { country: string, city: string, timezone: string, hour: string }, i) => {

            const div = document.createElement('div');
            div.classList.add('flex-row', 'flex', 'justify-between', 'items-center', 'hover:bg-gray-100', 'hover:cursor-pointer', 'px-6', 'py-4', 'rounded-lg');
            div.id = `item-${i}`;
            div.innerHTML = `
                <div>
                    <h3 class="font-bold text-md">${item.country}</h3>
                    <p class="text-gray-400 text-sm">${item.city}</p>
                </div>
                <div>
                    <h3 class="text-gray-400 text-sm text-end">${item.timezone}</h3>
                    <p class="text-gray-400 text-sm text-end">${item.hour}</p>
                </div>
            `;
            list.appendChild(div);
        });
    });

</script>